.button, .disabled-button, .disabled-button:hover, .ok-button {
  background-color: #12a1e2;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: none;
  font-size: .923em;
  box-sizing: content-box;
  display: inline-block;
  text-align: center;
  padding: 10px 16px 8px 16px;
  min-width: 45px;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
  font-family: inherit; }
  .button:hover, .disabled-button:hover, .ok-button:hover {
    background-color: #0e78aa; }

.disabled-button, .disabled-button:hover {
  background-color: #e6e6e6;
  border-color: #cccccc;
  cursor: default; }

.cancel {
  color: #e60000; }

.messages, .messages-small, .error-messages, .warning-messages, .warning-messages-small {
  border-radius: 4px;
  background-color: #d0edfb;
  border-width: 1px;
  border-style: solid;
  border-color: #89d3f5;
  padding: 10px 15px;
  margin-bottom: 25px;
  text-align: left; }

.messages-small {
  padding: 4px 8px; }

.message, .error-message, .warning-message {
  list-style: none;
  font-size: 13px;
  line-height: 23px; }

.error-messages {
  background-color: #ffcccc;
  border-color: #ff8080; }

.warning-messages, .warning-messages-small {
  background-color: #fff2cc;
  border-color: #ffdf80; }

.warning-messages-small {
  padding: 4px 8px; }

.form-cell, .form-label-cell, .form-textarea-label-cell, .form-checkbox-cell, .form-section-header, .form-section-header-title, .form-description-cell {
  padding-top: 3px;
  padding-right: 50px;
  padding-bottom: 3px;
  font-size: 13px; }

.form-label-cell, .form-textarea-label-cell {
  text-align: right; }

.form-textarea-label-cell {
  vertical-align: top;
  padding-top: 10px; }

.form-checkbox-cell {
  padding-right: 20px;
  max-width: 100px; }

.form-label, .alternate-form-label, .required-form-label {
  font-weight: bold; }

.alternate-form-label {
  font-weight: normal; }

.required-form-label {
  font-weight: bold; }

.form-text, .long-form-text, .short-form-text, .price-form-text, .form-text-area, .form-select {
  width: 200px;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  outline: none;
  padding: 5px;
  font-size: 12px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; }

.long-form-text {
  width: 300px; }

.short-form-text {
  width: 150px; }

.price-form-text {
  width: 75px; }

.form-text-area {
  width: 450px;
  height: 150px; }

.form-select {
  margin: 5px 0; }

.form-field-error {
  background-color: #ffcccc;
  border-color: #ff8080; }

.form-section-header, .form-section-header-title {
  padding-top: 25px;
  padding-bottom: 15px; }

.form-section-header-title {
  text-transform: uppercase;
  font-size: 12px;
  text-align: right; }

.form-description-cell {
  color: gray;
  font-size: 12px;
  line-height: 18px;
  max-width: 300px;
  padding-right: 0; }

.pagination {
  margin: 35px 0;
  padding: 1px 0 0 0;
  display: block;
  list-style: none;
  text-align: right; }

.pagination li {
  display: inline-block;
  margin: 0 5px;
  font-size: 14px; }

.tour-tour, .tour-tour h3 {
  line-height: 1.5em;
  font-size: 1.1em; }

.tour-tour .popover-content {
  padding: 12px 14px; }

.tour-tour button[data-role="end"] {
  margin-left: 5px; }

.editable-list {
  margin: -19px 0 0 0;
  padding: 0;
  list-style: none;
  font-family: inherit; }

.editable-list-item {
  margin: 6px 0; }

.editable-list-item-inner, .editable-list-item-input {
  padding: 5px;
  border: 1px solid #c4c4c4 !important;
  border-radius: 4px;
  width: 200px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: white;
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  outline: none;
  height: 15px; }

.editable-list-item-input {
  margin: 0;
  width: 119px !important; }

.editable-button, .editable-submit, .editable-cancel {
  border: none;
  padding: 6px 0;
  text-align: center;
  width: 25px;
  margin-top: 2px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  color: white;
  border-width: 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2); }

.editable-submit {
  background-color: #12a1e2; }

.editable-cancel {
  background-color: #e6e6e6;
  color: black;
  margin-left: 5px !important; }

body {
  font-family: helvetica, sans-serif;
  font-size: 13px;
  color: #4d4d4d; }

body {
  margin: 0; }
