.breadcrumbs {
  background-color: grey(97%); }

.breadcrumbs-inner {
  width: 970px;
  margin: auto;
  padding: 0 15px 0 15px; }

.breadcrumb, .disabled-breadcrumb, .breadcrumb-delimeter {
  float: left;
  padding: 9px 0 8px 0;
  display: block;
  text-decoration: none;
  color: inherit; }
  .breadcrumb:hover, .disabled-breadcrumb:hover, .breadcrumb-delimeter:hover {
    text-decoration: underline; }

.disabled-breadcrumb {
  color: #787878; }
  .disabled-breadcrumb:hover {
    text-decoration: none; }

.breadcrumb-delimeter {
  margin: 5px 4px 0 4px;
  font-size: 7px; }
  .breadcrumb-delimeter:hover {
    text-decoration: none; }

.breadcrumb-delimeter::after {
  content: "\276F"; }

.breadcrumbs-inner::after {
  content: " ";
  display: block;
  clear: both; }
