.protocol-color1 {
  background-color: #ffe5e5;
  color: #cc0000; }

.protocol-color2 {
  background-color: #e7f6fd;
  color: #0f86bd; }

.protocol-color3 {
  background-color: #edfce8;
  color: #2d8712; }

.protocol-color4 {
  background-color: #fff2e5;
  color: #994d00; }
