@function green($lightness:37%,$opacity:1) {
  @return hsla(106,77,$lightness,$opacity);
}

@function red($lightness:45%,$opacity:1) {
  @return hsla(0,100,$lightness,$opacity);
}

@function grey($lightness:50%,$opacity:1) {
  @return hsla(0,0,$lightness,$opacity);
}

@function blue($lightness:47%,$opacity:1) {
  @return hsla(199,85,$lightness,$opacity);
}

@function black($lightness:0%,$opacity:1) {
  @return hsla(0,0,$lightness,$opacity);
}

@function yellow($lightness:95%,$opacity:1) {
  @return hsla(30,100,$lightness,$opacity)
}


.protocol-color1 {
  background-color:red(95%);
  color:red(40%);
}

.protocol-color2 {
  background-color:blue(95%);
  color:blue(40%);
}

.protocol-color3 {
  background-color:green(95%);
  color:green(30%);
}

.protocol-color4 {
  background-color:yellow(95%);
  color:yellow(30%);
}