.index-table-tools {
  margin-bottom:25px;
  width:100%;
}

.index-table {
  width:100%;
  border-collapse:collapse;
  text-align:right;
  font-size:13px;
}

.index-table-column {
  border-width:0;
  border-style:solid;
  border-color:grey(100%) grey(100%) grey(90%) grey(100%);
  height:40px;
  padding:0 15px;
  border-bottom:1px solid grey(90%);
}

.index-table-column-link {
  text-decoration:none;
  display:block;
  color:inherit;
}

.index-table-head {
  background-color:grey(97%);
}

.index-table-row {
  cursor:pointer;

  &:hover {
    background-color:yellow();
  }
}

.index-table-cell {
  border-bottom:1px solid grey(90%);

  a {
    padding:15px;
    display:block;
    color:inherit;
    text-decoration:none;
  }
}

.index-tools-link {
  color:red();
  text-decoration:underline;
  cursor:pointer;

  &:link {
    text-decoration:underline;
  }
}

.index-table .index-table-column:first-of-type {
  text-align:left;
}

.index-table-row .index-table-cell:first-of-type {
  text-align:left;
}