.protocol-table-wrapper {
  overflow-x: scroll;
  margin-top: 20px; }
  .protocol-table-wrapper:before {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1) inset;
    display: block;
    content: ''; }

.protocol-table {
  border-collapse: collapse; }

.protocol-table-cell, .protocol-table-label-cell, .protocol-table-supplement-cell {
  border-width: 1px;
  border-style: solid;
  border-color: grey(61%);
  padding: 8px;
  font-weight: normal;
  min-width: 110px;
  text-align: center; }

.protocol-table-label-cell {
  background-color: grey();
  text-transform: uppercase;
  color: grey(100%);
  white-space: nowrap;
  text-align: right;
  font-size: .923em; }

.protocol-table-supplement-link {
  color: inherit; }
