.protocol-color1 {
  background-color:red(95%) !important;
  color:red(40%);
}

.protocol-color2 {
  background-color:blue(95%) !important;
  color:blue(40%);
}

.protocol-color3 {
  background-color:green(95%) !important;
  color:green(30%);
}

.protocol-color4 {
  background-color:yellow(95%) !important;
  color:yellow(30%);
}

.protocol-table-wrapper {
  overflow-x:scroll;
  margin-top:20px;

  &:before {
    position:absolute;
    right:0;
    top:2px;
    bottom:0;
    width:5px;
    box-shadow:-2px 0 5px rgba(0,0,0,.1) inset;
    display:block;
    content:'';
  }
}

.protocol-table-wrapper-portrait {
  overflow-y:scroll;
  max-height:550px;
  margin-top:20px;
  overflow-x:hidden;

  &:before {
    position:absolute;
    right:0;
    left:2px;
    bottom:1px;
    height:5px;
    box-shadow:0 -2px 5px rgba(0,0,0,.1) inset;
    display:block;
    content:'';
  }
}

.protocol-table {
  border-collapse:collapse;
  width:100%;
}

.protocol-table-portrait {
  @extend .protocol-table;
}

.protocol-table-column-fixed {
  overflow-x:hidden;
  position:absolute;
  top:0;
}

.protocol-table-portrait-header-fixed {
  position:absolute;
  top:-1px;
  overflow-y:hidden;
  overflow-x:hidden;
}

.protocol-table-cell {
  border-width:2px;
  border-style:solid;
  border-color:grey(100%);
  padding:10px 8px;
  font-weight:normal;
  min-width:110px;
  text-align:center;
  background-color:grey(97.25%);
}

.protocol-table-cell-portrait {
  @extend .protocol-table-cell;
  min-width:66px;
}

.protocol-table-label-cell {
  @extend .protocol-table-cell;
  background-color:grey(40%);
  text-transform:uppercase;
  color:grey(100%);
  text-align:right;
  font-size:.923em;
  vertical-align:middle;
}

.protocol-table-label-cell-portrait {
  @extend .protocol-table-label-cell;
  min-width:0;
  white-space:normal;
  text-align:center;
}

.protocol-table-row .protocol-table-cell:last-of-type {
  border-right-width:0;
}

.protocol-table-supplement-cell {
  @extend .protocol-table-cell;
  padding:0;
}

.protocol-table-supplement-cell-portrait {
  @extend .protocol-table-supplement-cell;
  text-align:right;
  min-width:0;
}

.protocol-table-supplement-link {
  color:inherit;
  display:block;
  padding:10px 8px;

  &:hover {
    background-color:rgba(255,255,255,.66);
  }
}

.protocol-table-supplement-link-portrait {
  @extend .protocol-table-supplement-link;
}