/*
|--------------------------------------------------------------------------
| Base styles
|--------------------------------------------------------------------------
|
*/

@import 'base';

/*
|--------------------------------------------------------------------------
| Defaults
|--------------------------------------------------------------------------
|
*/

html {
	height:100%;
}

body {
	margin:0;
	height:100%;
}

/*
|--------------------------------------------------------------------------
| Additional Partials
|--------------------------------------------------------------------------
|
*/

@import 'partials/breadcrumbs';
@import 'partials/navbar';
@import 'partials/modaldialog';
@import 'partials/indextable';
@import 'partials/infotable';

/*
|--------------------------------------------------------------------------
| Layout & styles
|--------------------------------------------------------------------------
|
*/

.heading {
  font-size:23px;
  font-weight:bold;
  margin-bottom:25px;
}

.heading2 {
  font-size:12px;
  text-transform:uppercase;
  font-weight:bold;
  color:grey();
}

.hr {
  border-width:1px 0 0 0;
  border-color:grey(77%);
  border-style:solid;
  padding:0;
  margin:40px 0 15px 0;
}

a {
  color:blue();
}

.master-inner-content {
	width:1000px;
	margin:auto;
	height:100%;
}

.master-main-wrapper {
	min-height:100%;
	margin-bottom:-101px;
}

.master-header {
	height:50px;
  	background-color:#00B300;
}

.master-inner-header {
	@extend .master-inner-content;
}

.master-content {
	margin-bottom:50px;
    width:970px;
    margin:50px auto;
}

.master-footer-space {
	height:101px;
}

.master-footer {
	border-top:1px solid grey(77%);
	height:100px;
	background-color:grey(97%);
}

.master-footer-credit {
	letter-spacing:1px;
	display:table-cell;
	height:100px;
	vertical-align:middle;
	font-size:12px;
	color:grey(62%);
}

.protocol {
  text-transform:uppercase;
  font-size:11px;
}

.announcement-bar {
  background-color:darken(yellow(),5);
  line-height:1.5em;
}

.announcement-bar-inner {
  position:relative;
  padding:12px 0;
  width:1000px;
  margin:auto;
  text-align:center;
  font-size:1.077em;
}

.announcement-bar-close-icon {
  margin-left:15px;
  cursor:pointer;
}